{% extends 'pp_base.html' %}


{% block body %}
<h3>About</h3>
<div class='row'>
  <div class='col-xs-10'>
    <p>The Pliny Project is an attempt to make the people behind the letters of
      Pliny the Younger accessible. Although there is considerable distinguished
      print scholarship on the people of Pliny, few if any online resources exist to facilitate a simple
      search for Pliny's correspondents or their own biography when it is known.
      I collected a considerable amount of data from a thorough analysis of Pliny's
      letters under the auspices of a fellowship at the American Academy in Rome. Subsequently I am
      now mining it for conclusions, and attempting to make it available online
      for other scholars to use in their research.
    </p>
  </div>
</div>
{% endblock %}
