{% extends 'pp_base.html' %}


{% block body %}
<h1>Bibliography</h1>
<div class='row'>
  <div class='col-xs-12'>
    <p>
      This is not an attempt at a comprehensive bibliography, but rather listing
      the resources that underlie my assumptions.
    </p>
    <h3>Some Principal Resources for Prosopography</h3>
    <ul>
      <li>Birley, A. <i>Onomasticon to the Younger Pliny.</i> de Gruyter: 2012</li>
      <li>Sherwin-White, A.N. <i>The Letters of Pliny: A Historical and Social Commentary.</i> Oxford: 1966.</li>
      <li>Syme, R. “People in Pliny.” <i>Journal of Roman Studies.</i> 58 (1968): 135-151.</li>
    </ul>
  </div>
</div>
{% endblock %}
