{% extends 'pp_base.html' %}


{% block body %}
<h1>Pliny the Who?</h1>
<div class='row'>
  <div class='col-xs-10'>
    <p>
      Gaius Plinius Seconds (Pliny the Younger) was born in Comum, modern day
      Como, Italy, to the family of the Caecilii Secundi. His uncle, Gaius
      Plinius, a ranking officer under the Flavian emperors, adopted him in
      his will after the uncle died while investigating the eruption of
      Vesuvius in AD 79. Pliny the Younger used his adoptive father's
      connections to secure a highly successful career that rose through
      the ranks of Roman administration to hold the highest office, the
      consulship, under the Emperor Trajan in 100. Pliny's collected letters,
      all likely edited and selected by him except for Book Ten, which collects
      his letters with Trajan while the governor of Bithynia-Pontus
      (modern-day Turkey), give us an unparalleled look at the life of a
      member of the Roman elite during the late first and
      early second centuries AD.
    </p>
  </div>
</div>
{% endblock %}
