@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Goudy+Bookletter+1911&display=swap');

$open-sans: 'Open Sans', Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$goudy: 'Goudy Bookletter 1911', serif;
