@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Goudy+Bookletter+1911|Roboto+Slab&display=swap');

$open-sans: 'Open Sans', Arial, sans-serif;
$roboto: 'Roboto', sans-serif;
$goudy: 'Goudy Bookletter 1911', serif;
$roboto-slab: 'Roboto Slab', serif;
