
{% extends 'pp_base.html' %}
{% load bootstrap3 static %}

{% block head %}
<script src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>
<link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' />

<script>
  $(document).ready(function () {
      $("#id_nomina").autocomplete({
        source: function (request, response) {
            var query = request.term
            $.get("{% url 'people:autocomplete' %}", {q: query}, function (data) {
                return response(data)
            });
        }
      });

      $('#sen-filter').click( function() {
          var address = $(location).attr('href');
      });


  });
</script>
{% endblock %}

{% block body %}
<h1> Search the Prosopography</h1>

<p>You can use the form below to search the prosopography by nomina. The results
will be displayed below along with the letters addressed to this person.</p>
<div class='row'>
<div class='col-xs-6'>
<form action="{% url 'people:search' %}" method="get" class="form-inline">
  {% bootstrap_form form layout='inline' %}
  <button type="submit" class="btn btn-primary">
    Search
  </button>
</form>
<p>
  Use the following buttons to filter results by class.
<button class='btn btn-default' id='sen-filter'>Senatorial</button>
</p>
</div>
</div>
<br />
{% if object_list %}
<table class='table table-striped'>
  <tr>
    <th>Nomina</th>
    <th>Letters</th>
  </tr>
  {% for person in object_list %}
  <tr>
    <td>{{ person.nomina }}</td>
    <td>{% for letter in person.letters_to.all%}{{ letter }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}
<ul class='pagination'>
  {% for number in page_obj.paginator.page_range %}
    {% if page_obj.number == number %}
    <li class='disabled'><a href='#'>{{ page_obj.number }}</a></li>
    {% else %}
    <li><a href='?page={{number}}{{ saved_query | urlencode }}'>{{ number }}</a></li>
    {% endif %}
  {% endfor %}
</ul>



{% endblock %}
