<footer class='footer'>
  <div class='container'>
    <p class='text-muted'>© <a href='mailto:bhicks(at)princeton(dot)edu'>Benjamin Hicks</a> 2012-{% now "Y"%} with support from the Princeton
     University Center for Digital Humanities</p>
     <p class='text-muted'>Image of Pliny from Wolfgang Sauber (Own work) [<a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a> or <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>],
       <a href="https://commons.wikimedia.org/wiki/File%3AComo_-_Dom_-_Fassade_-_Plinius_der_J%C3%BCngere.jpg">via Wikimedia Commons</a></p>
  </div>
</footer>
