{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang='en'>

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% render_bundle 'index' %}
  <link rel="stylesheet" href="/static/css/pliny.css">

  <link rel='stylesheet' href="{% static 'css/bootstrap-accessibility.css' %}"></script>

  <script>
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-104408652-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    window['ga-disable-UA-104408652-1'] = false;
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-104408652-1', { 'anonymize_ip': true });
  </script>


  {% block head %}
  {% endblock %}



  </head>

  <body>

    {% include 'top_nav.html' %}
  <div class='container'>
    {% block body %}
    {% endblock%}
  </div>
  {% include 'footer.html' %}
  </body>

</html>
