{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/pliny.css">
  <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
  <script src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js'></script>
  <link rel='stylesheet' href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' />

  <script>
  $(document).ready(function() {
      $("#nav_nomina").autocomplete({
        source: function(request, response) {
            var query = request.term
            $.get("{% url 'people:autocomplete' %}", {q: query}, function (data) {
                return response(data)
            });
        },
        classes: {
          "ui-autocomplete": "ui-front"
        },
        appendTo: $('nav')
      });

      // Snip from https://gist.github.com/mathiasbynens/286824
      $(function() {
       $('a[href^="mailto:"]').each(function() {
        this.href = this.href.replace('(at)', '@').replace(/\(dot\)/g, '.');
       });
      });

    });
  </script>

  {% block head %}
  {% endblock %}


  </head>

  <body>
    {% include 'top_nav.html' %}
    <div id='main-content' class='container'>
  {% block body %}
  {% endblock%}
    </div>
  {% include 'footer.html' %}
  </body>

</html>
